{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@cybozu/eslint-config/presets/react-typescript-prettier"
  ],
  "env": {
    "webextensions": true
  },
  "globals": {
    "document": true,
    "window": true,
    "MutationObserver": true,
    "fetch": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": "webpack",
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "warn"
  }
}
