$default-border-width: 1px;
$default-border-style: solid;
$default-border-color: #ccc;
$default-border: $default-border-width $default-border-style
  $default-border-color;

$editor-area-border-radius: 4px;

.marktone {
  .editor-area {
    border: $default-border;
    border-radius: $editor-area-border-radius;
    margin: 16px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    .textarea-wrapper {
      flex-grow: 1;
      flex-basis: 50%;

      .autocomplete-container {
        textarea {
          display: block;
          width: 100%;
          height: 150px;
          padding: 8px 12px;
          box-sizing: border-box;

          font-family: monospace;
          font-size: 14px;

          resize: vertical;

          border: none;
          border-top-left-radius: $editor-area-border-radius;
          border-bottom-left-radius: $editor-area-border-radius;

          background-color: #fafafa;
          box-shadow: 4px 4px 12px #eee inset, -4px -4px 12px #eee inset;

          &:focus {
            background-color: #fff;
            box-shadow: 4px 4px 12px #f5f5f5 inset, -4px -4px 12px #f5f5f5 inset;
          }

          &.dragging {
            border: 1px solid #94d3a2;
          }
        }
      }
    }

    .preview-wrapper {
      background-color: #fff;
      border-left: $default-border;
      border-top-right-radius: $editor-area-border-radius;
      border-bottom-right-radius: $editor-area-border-radius;

      flex-grow: 1;
      flex-basis: 50%;

      overflow: scroll;

      .preview {
        padding: 8px 14px;
        font-size: 14px;

        .ocean-ui-plugin-mention-user:before {
          content: none;
        }
      }
    }
  }

  &:not(.tab-mode) {
    .tabs {
      display: none;
    }
  }

  &.tab-mode {
    .tabs {
      display: flex;

      font-size: 13px;
      background-color: #f5f5f5;
      border-width: $default-border-width $default-border-width 0;
      border-style: $default-border-style;
      border-color: $default-border-color;
      border-radius: 4px 4px 0 0;
      margin: 16px 16px -1px 16px;
      padding: 4px 16px 0;

      .tab {
        flex-grow: 1;

        font-weight: 400;
        text-align: center;

        border-width: $default-border-width;
        border-style: $default-border-style;
        border-color: transparent;
        border-radius: 8px 8px 0 0;

        padding: 8px 16px 6px;
        margin: 0 4px;
      }
    }

    .editor-area {
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .textarea-wrapper {
        border: $default-border;
        border-radius: 4px;
        margin: 16px;

        textarea {
          border-radius: 4px;
        }
      }

      .preview-wrapper {
        border: none;
        margin: 16px;
      }
    }

    &:not(.preview-active) {
      .tabs {
        .edit-tab {
          border-color: $default-border-color $default-border-color #fff;
          background-color: #fff;
        }

        .preview-tab:hover {
          cursor: pointer;
          background-color: #fafafa;
          border-bottom: $default-border;
        }
      }

      .editor-area {
        .preview-wrapper {
          display: none;
        }
      }
    }

    &.preview-active {
      .tabs {
        .preview-tab {
          border-color: $default-border-color $default-border-color #fff;
          background-color: #fff;
        }

        .edit-tab:hover {
          cursor: pointer;
          background-color: #fafafa;
          border-bottom: $default-border;
        }
      }

      .editor-area {
        .textarea-wrapper {
          display: none;
        }
      }
    }
  }
}

//
// autocomplete
//
.autocomplete-dropdown {
  background-color: #fff;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);

  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  z-index: 100;

  font-size: 14px;

  .autocomplete-list {
    border: none;
    box-shadow: none;

    .autocomplete-item {
      border: none;

      .mention-candidate {
        display: flex;
        align-items: center;
        height: 32px;
        padding: 0 16px;

        .avatar {
          display: inline-block;
          height: 20px;
          width: 20px;
          line-height: 20px;

          .avatar-image {
            display: block;
            border-radius: 3px;
            height: 100%;
            width: 100%;
          }
        }

        .name {
          margin-left: 8px;
          white-space: nowrap;

          .code {
            font-weight: 700;
          }

          .display-name {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .autocomplete-loader {
    margin: 0 4px;
    box-shadow: none;
  }
}

.marktone-disabled {
  .marktone {
    display: none;
  }
}

body:not(.marktone-disabled) {
  .ocean-ui-comments-commentform-editor {
    display: none;
  }

  form.ocean-ui-comments-commentform-form {
    button {
      font-size: 14px;
      font-weight: 600;
      border-radius: 4px;
      box-shadow: none;

      padding: 0;
      margin-top: 0;
      min-width: 120px;
      height: 36px;

      line-height: normal;

      span {
        line-height: normal;
      }
    }

    button.ocean-ui-comments-commentform-submit {
      border: 1px solid #1d6fa5;
      margin-left: 8px;

      &:hover {
        border-color: rgb(33, 93, 134);
      }
    }

    button.ocean-ui-comments-commentform-cancel {
      color: #666;
      border: $default-border;
      margin-right: 0;

      &:hover {
        background-color: #eee;
        border-color: #bbb;
      }
    }
  }
}
