name: Chromatic

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Run Chromatic
        uses: chromaui/action@ac86f2ff0a458ffbce7b40698abd44c0fa34d4b6 # v13.3.3
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
